<h1>Today's battle:</h1>
<h2><%= @game.player_1.name %> v <%= @game.player_2.name %></h2>

<div>
  <%= @game.player_1.name %>: <%= @game.player_1.hp %>HP
  <%= @game.player_2.name %>: <%= @game.player_2.hp %>HP
</div>

<div>
  <form action='/attack' method="post">
    <input name="name" value="hit" type="hidden">
    <input type='submit' value='Attack'>
  </form>
  <form action='/attack' method="post">
    <input name="name" value="frying-panned" type="hidden">
    <input type="submit" value="Whack with frying pan">
  </form>
</div>

<%= @game.current_player.name %>'s turn
